#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "PCI drivers"

config ARCH_IS_DW_PCIE_RC
	bool

config ARCH_IS_DW_PCIE_EP
	bool

menuconfig DW_PCIE
	bool "Synopsys DesignWare PCI-Express (PCIe) support"
	depends ARCH_HAS_PCI

if DW_PCIE

config PCIE_ROLE_RC
	bool "Setup PCIE Core as RC"
	depends ARCH_IS_DW_PCIE_RC
	default y

endif

endmenu
