#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu 'Generic setup'

config VENDOR_NAME
	string "Device vendor name"
	default "Soliton (Shanghai)"

config PRODUCT_NAME
	string "Device product name"
	default "Soliton Small Device"

config VENDOR_ID
	int "Device vendor identifier"
	range 0 65535
	default 990

config PRODUCT_ID
	int "Device product identifier"
	range 0 255
	default 0

config SERIAL_NO
	int "Device serial number"
	range 0 65535
	default 0

choice
	prompt "System types"

config BOOTLOADER
	bool "Bootloader"
	select SYS_NOIRQ
	help
	  Allow dynamic allocations. IRQ is disabled. Not a runtime system.
	  Disallow booting from memory.

config FIRMWARE
	bool "Device firmware"
	select SYS_IRQ
	select ARCH_HAS_BOOT_LOAD
	select CONSOLE_VERBOSE if CONSOLE_OUTPUT
	help
	  Disallow dynamic allocation. IRQ is enabled. A runtime system.
	  Allow booting from memory.

config EMBEDDED
	bool "Embedded system"
	select SYS_IRQ
	select ARCH_HAS_BOOT_LOAD
	help
	  Allow dynamic allocations. IRQ is enabled. A runtime system.
	  Allow booting from memory.

endchoice

if BOOTLOADER

menu "Bootloader options"

config BOOT_LINUX
	bool "Linux boot protocol"
	select CONSOLE

config BOOT_ROM
	bool "Silicon boot ROM"

endmenu

endif

if FIRMWARE

menu "Firmware options"

source init/gem5/Kconfig
source init/ris/Kconfig

endmenu

endif

menuconfig COMMAND
	bool "Enable command line support"
	select STRING_STRTOUL
	select STRING_STRTOULL

config COMMAND_BATCH
	bool "Enable batch command support"
	depends COMMAND

config COMMAND_BATCH_COMMAND
	string "Batch commands"
	depends COMMAND_BATCH

config ARCH_HAS_CONSOLE_EARLY
	bool

menuconfig CONSOLE
	bool "Enable console on (possibly) UART0"
	select PRINT_PRINTF

if CONSOLE

menuconfig CONSOLE_COMMAND
	bool "Enable console command line support"
	select CONSOLE_INPUT
	select COMMAND

config CONSOLE_OUTPUT
	bool "Enable console output"

config CONSOLE_OUTPUT_CR
	bool "Append CR before LN"
	depends CONSOLE_OUTPUT

config CONSOLE_PRINT_BUFFER_SIZE
	int "Configure console print buffer size"
	default 64
	range 32 1024

config CONSOLE_INPUT
	bool "Enable console input"

choice
	prompt "Console UART baud rate"
	default CONSOLE_115200
	help
	  This setting lets you define what baudrate is for the serial
	  port.

config CONSOLE_230400
	bool "230400"

config CONSOLE_115200
	bool "115200"

config CONSOLE_76800
	bool "76800"

config CONSOLE_57600
	bool "57600"

config CONSOLE_38400
	bool "38400"

config CONSOLE_19200
	bool "19200"

config CONSOLE_9600
	bool "9600"

config CONSOLE_4800
	bool "4800"

config CONSOLE_2400
	bool "2400"

endchoice

config CONSOLE_VERBOSE
	bool "Enable console logging messages"

config CONSOLE_DEBUG
	bool "Enable console debugging messages"
	select CONSOLE_VERBOSE
	depends EXPERIMENTAL

config CONSOLE_BANNER
	bool "Enable sdfirm boot banner"

config CONSOLE_DEBUG_BOOT
	bool "Enable boot debug sequence 0x55"
	depends EXPERIMENTAL

endif

endmenu
