#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "eSPI Master drivers"

menuconfig SPACEMIT_ESPI
	bool "SPACEMIT eSPI support"

if SPACEMIT_ESPI

endif

endmenu
