#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "eSPI Master drivers"

menuconfig SPACEMIT_ESPI
	bool "SPACEMIT eSPI support"
	depends ESPI
	select ARCH_HAS_ESPI_OOB
	select ARCH_HAS_ESPI_FLASH
	select ARCH_IS_ESPI_SYS_SINGLE
	select ARCH_HAS_ESPI_ALERT_PP
	select ARCH_HAS_ESPI_IO_SINGLE
	select ARCH_HAS_ESPI_IO_DUAL
	select ARCH_HAS_ESPI_IO_QUAD
	select ARCH_IS_ESPI_FREQ_66MHZ
	select ARCH_HAS_ESPI_CRC

if SPACEMIT_ESPI

endif

endmenu
