#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "NoC interconnect drivers"

config ARCH_HAS_NOC
	bool

config ARCH_HAS_NCORE_RECONF
	bool

menuconfig NCORE
	bool "Arteris Ncore interconnect support"
	select NCORE_RECONF if ARCH_HAS_NCORE_RECONF

if NCORE

config NCORE_RECONF
	bool "Enable reconfiguration of NoC"
	depends ARCH_HAS_NCORE_RECONF
	help
	  For number of CAIs (normally equivalent to the number of CPU
	  cores) that is less than 32, it is possible to configure them
	  all at once using masks. By doing this, reconfiguration of NoC
	  is allowed.

endif

menuconfig MONACO
	bool "Qualcomm MONACO ring interconnect support"

if MONACO

endif

config CCN512
	bool "ARM CCN512 support"

config CCI550
	bool "ARM CCI550 support"

config ARCH_HAS_CMN600
	bool

menuconfig CMN600
	bool "ARM CMN600 support"
	depends ARCH_HAS_CMN600

if CMN600

config ARCH_HAS_CMN600_CML
	bool

config CMN600_HNF_CAL
	bool "Enable Component Aggregation Layer (CAL) mode on HN-F support"

config CMN600_CML
	bool "Enable Coherent Multichip Link (CML) support"
	depends ARCH_HAS_CMN600_CML
	select BIT_FLS64

config CMN600_SAM_RANGE_BASED
	bool "Enable range based SAM configuration"
	help
	  By default, ARM reference driver uses range based rather than
	  hashed SAM configuration. However, this driver uses hashed SAM
	  unless this option is enabled.

if CMN600_CML

config CMN600_CML_TLP
	bool "Enable PCIe TLP header support"

config CMN600_CML_RA_RAID_NO_CXRA
	bool "Enable counting CXRA as agent ID"
	help
	  According to silicon verification, CXRA needn't be assigned of
	  an agent ID. However, this is the default behavior according to
	  ARM reference driver.

config CMN600_CML_HA_RAID_RNF_LOCAL
	bool "Enable programming local RN-F agent IDs"
	help
	  According to silicon verification, not only remote RN-F but also
	  local RN-F should be programmed to CMN_cxg_ha_rnf_raid_to_ldid
	  with RNF feild filling with 0.
	  However, ARM reference driver never fills such entries.

config CMN600_RAS
	bool "Enable realiability availability serviceability support"
	depends RAS

endif

config CMN600_DEBUG
	bool "Enable register debugging"
	depends CONSOLE_DEBUG

config CMN600_DEBUG_DISCOVER
	bool "Enable discover result debugging"
	depends CMN600_DEBUG

config CMN600_DEBUG_CONFIGURE
	bool "Enable configure progress debugging"
	depends CMN600_DEBUG

endif

source drivers/noc/n100/Kconfig

endmenu

