#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "NoC interconnect drivers"

config ARCH_HAS_NOC
	bool

config ARCH_HAS_NCORE_RECONF
	bool

menuconfig NCORE
	bool "Arteris Ncore interconnect support"
	select NCORE_RECONF if ARCH_HAS_NCORE_RECONF

if NCORE

config NCORE_RECONF
	bool "Enable reconfiguration of NoC"
	depends ARCH_HAS_NCORE_RECONF
	help
	  For number of CAIs (normally equivalent to the number of CPU
	  cores) that is less than 32, it is possible to configure them
	  all at once using masks. By doing this, reconfiguration of NoC
	  is allowed.

endif

menuconfig MONACO
	bool "Qualcomm MONACO ring interconnect support"

if MONACO

endif

config CCN512
	bool "ARM CCN512 support"

config CCI550
	bool "ARM CCI550 support"

config CMN600
	bool "ARM CMN600 support"

endmenu


