sdfirm
sdfirm.strip
.tmp_versions
.kernelrelease
.tmpconfig*
.config*
*.cmd
*.tmp
*.d
*.ihx
*.lnk
*.mem
*.map
*.usg
*.hex
*.tar.gz
cscope*
*.bak
*.swp
*.stackdump
*.log
*.wrn
*.err
obj
bin
