config COREMARK
	bool "CoreMark"

if COREMARK

config COREMARK_USE_CLOCK
	bool "Use clock to compute time"
	default y

config COREMARK_MEM_STATIC
	bool "Use static memory"
	default y

config COREMARK_ITERATION_CNT
	int "Iterations count"
	default 1

endif

