menu "RAS drivers"

config CMN600_RAS
	bool "Enable CMN600 realiability availability serviceability (RAS) support"
	depends RAS

config DDR_RAS
	bool "Enable DDR reliability availability serviceability (RAS) support"
	depends RAS && DW_UMCTL2_DDR5
	select RISCV_GHES
	help
	  This option enables DDR RAS support for error detection and handling.
	  It includes features such as:
	  - ECC error detection and correction
	  - CRC error detection
	  - Parity error detection
	  - Interrupt handling for various error types

config ECC_SRAM_RAS
	bool "Enable ECC SRAM reliability availability serviceability (RAS) support"
	depends on RAS
	help
	  This option enables ECC SRAM RAS support for error detection and handling.
	  It includes features such as:
	  - ECC error detection and correction for SRAM
	  - Interrupt handling for SEC/DED errors
	  - Error injection and threshold configuration

endmenu
