#
# Firmware Tests
#

config TEST_VERBOSE
	bool "Enable verbosity in tests"

menuconfig TEST_BENCH
	bool "CPU remote/local test bench tests"
	select CRYPTO_RAND
	select STRING_STRNCMP
	select BIT_HWEIGHT64
	select PAGE

if TEST_BENCH

choice
	prompt "Test bench type"

config TEST_BENCH_LOCAL
	bool "Local CPU bench"
	help
	  The bench runs on the SMP boot core, testing other SMP cores as
	  long as the SMP boot core itself.

config TEST_BENCH_REMOTE
	bool "Remote CPU bench"
	help
	  The bench runs on a special boot core, which has no coherence
	  with other SMP cores and is responsible for power managing other
	  SMP cores.

endchoice

config TEST_BENCH_DIDT
	bool "Enable dI/dT power calibration mode"
	depends !SYS_NOIRQ
	select TIMER
	select TIMER_31BIT
	help
	  Allows multiple CPUs to execute tests simultaneously, and
	  repeatedly using timer. This mode is useful for power stress
	  tests.

config TEST_BENCH_START_DELAY
	int "Start delay alignment"
	depends SMP
	default 64
	help
	  In order to align all CPUs to execute tests simultaneously, CPUs
	  may start run after aligning current time to a start delay
	  interval. This should be a power of 2 value.

config TEST_BENCH_DEBUG
	bool "Enable bench debugging messages"

source tests/bench/Kconfig

endif

menuconfig TEST_LITMUS
	bool "Enable memory model litmus tests"
	select FP
	select STRING_STRTOD
	select TIME_CLOCK
	select CRYPTO_RAND
	select HEAP
	select TEST_BENCH

if TEST_LITMUS

config TEST_LITMUS_FINISH
	bool "Enable board finish after tesing"
	select FINISH

config TEST_LITMUS_CPU_CUSTOMIZED
	bool "Enable customized CPU mask"
	select BIT_HWEIGHT64
	help
	  Litmus source code is generated by configured CPU numbers. So
	  when it is meant to be tested using non-coutiguous core IDs, it
	  requires build time configurations to be aligned to the CPU
	  mask settings.

if TEST_LITMUS_CPU_CUSTOMIZED

config TEST_LITMUS_MAX_CPUS
	int "Number of CPUs"

config TEST_LITMUS_CPU_MASK
	hex "CPU masks"

endif

config TEST_LITMUS_DEBUG
	bool "Enable litmus debugging messages"

endif

config TEST_MEMTESTER
	bool "Enable memtester support"
	select STRING_GETOPT
	select STRING_STRTOULL
	select CRYPTO_RAND

if TEST_MEMTESTER

config MEMTESTER_NARROW_WRITES
	bool "Enable narrow writes support"

config MEMTESTER_PAGE
	bool "Enable page size (4K) boundary check"
	default y
	help
	  It is safer to enable 4K boundary check.

endif

config TEST_ESPI
	bool "Enable espi test"
