#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Small Device Firmware Configuration"

config 128BIT
	bool

config 64BIT
	bool

config 32BIT
	bool

config RISCV
	def_bool y
	# even on 32-bit, physical (and DMA) addresses are > 32-bits

source "init/Kconfig"

menu "RISCV system options"

choice
	prompt "RISCV system type"
	default ARCH_VEGA

config ARCH_VEGA
	bool "Open-ISA VEGA-Lite (RV32M1)"
	select ARCH_IS_TICKLESS
	select ARCH_HAS_TSC
	select ARCH_HAS_TSC_CONST
	select ARCH_HAS_GPT
	select ARCH_HAS_GPIO
	select ARCH_HAS_IDLE
	select LPUART if UART || DEBUG_PRINT || CONSOLE
	select IRQC_EVENT if !SYS_NOIRQ
	select CLK
	select MATH_DIV32
	select MATH_MOD32
	select BIT_FLS16
	help
	  This enables support for Qualcomm server platforms.

config ARCH_DUOWEN
	bool "Emulated RISCV platform"
	select ARCH_IS_TICKLESS
	select ARCH_HAS_TSC
	select ARCH_HAS_TSC_CONST
	select DW_TIMERS
	select DW_UART if CONSOLE || DEBUG_PRINT
	select SDHC if MMC
	select DW_MSHC if SDHC
	help
	  This enables support for emulated riscv platforms.

config ARCH_SPIKE
	bool "RISC-V ISA simulator (spike)"
	select ARCH_IS_TICKLESS
	select ARCH_HAS_TSC
	select ARCH_HAS_TSC_CONST
	select ARCH_HAS_GPT
	select ARCH_HAS_NOVEC
	select ARCH_HAS_BOOT_LOAD
	select ARCH_HAS_CLINT
	select CLINT
	help
	  This enables support for simulated riscv platforms.

endchoice

source "arch/riscv/common/Kconfig"

endmenu

source "arch/riscv/mach-vega/Kconfig"
source "arch/riscv/mach-duowen/Kconfig"
source "arch/riscv/mach-spike/Kconfig"

source "kernel/Kconfig"
source "drivers/Kconfig"
source "lib/Kconfig"
source "init/Kconfig.debug"
