
config ARCH_HAS_IFDS
	bool

if IFD
menu "IFD drivers"

config IFD_SERIAL
	bool "Serial smart card interface"

if IFD_SERIAL

endif

endmenu
endif

config PN53X
	bool "NXP PN53x proximity coupling device"

if PN53X

choice
	prompt "PN53x host bus"

config PN53X_SPI
	bool "SPI"
	select SPI
	select SPI_MASTER

config PN53X_STUB
	bool "stub"

endchoice

endif

config ACR122
	bool "ACS ACR122 pseudo APDU support"
	select PN53X

if ACR122

endif

if PCD
menu "PCD drivers"

endmenu
endif

if COS
menu "COS drivers"

config COS_SCOS
	bool "Small device card operating system (SCOS)"
	default y

endmenu
endif
