#
# UEFI Firmware
#

menuconfig UEFI
	bool "Unified extensible firmware interface (UEFI) support"

if UEFI

config UEFI_DXE
	bool "UEFI driver execution environment (DXE) support"
	select CRC32

config UEFI_GPT
	bool "UEFI GUID partition table (GPT) support"
	select MTD

config UEFI_GPT_DEBUG
	bool "Enable UEFI debugging message"
	select STRING_HEXDUMP if CONSOLE_OUTPUT

endif

