
config GEM5
	bool "Run embedded GEM5 SimPoint slice support"

if GEM5

config GEM5_STATIC_PAGES
	bool "Use static pages in data section"

config GEM5_SKIP_SET_PGT
	bool "Do not set page table to zero in initialization"

config GEM5_NOT_RESTORE_MEM
	bool "Do not restore memory data for Simpoint slice"

endif
