#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "IO MMU drivers"

config ARCH_HAS_SMMU
	bool

config ARCH_HAS_SMMUv1
	bool
	select ARCH_HAS_SMMU

config ARCH_HAS_SMMUv1_64KB
	bool
	select ARCH_HAS_SMMUv1

config ARCH_HAS_SMMUv2
	bool
	select ARCH_HAS_SMMU

config ARCH_HAS_RVSMMU
	bool
	select ARCH_HAS_SMMU

config ARCH_HAS_SMMUv3
	bool

config ARCH_HAS_SMMUv3_0
	bool
	select ARCH_HAS_SMMUv3

config ARCH_HAS_SMMUv3_1
	bool
	select ARCH_HAS_SMMUv3_0

config ARCH_HAS_SMMUv3_2
	bool
	select ARCH_HAS_SMMUv3_1

config ARCH_IS_SMMU_SM
	bool

config ARCH_HAS_SMMU_S2
	bool

config ARCH_HAS_SMMU_BTM
	bool

config ARCH_HAS_SMMU_CTTW
	bool

config ARCH_HAS_SMMU_HAFDB
	bool

config ARCH_HAS_SMMU_VMID16
	bool

config ARCH_HAS_SMMU_SSDT
	bool

config ARCH_HAS_SMMU_EXSMRG
	bool

config ARCH_HAS_SMMU_COMPINDEX
	bool

config ARCH_HAS_SMMU_E2HC
	bool

config ARCH_HAS_SMMU_PTFS_SHORT
	bool
	help
	  AArch32 short-descriptor support.

config ARCH_HAS_SMMU_PTFS_LONG
	bool
	help
	  AArch32 long-descriptor support.

config ARCH_HAS_SMMU_PTFS_v8_4KB
	bool
	help
	  4KB translation granule size.

config ARCH_HAS_SMMU_PTFS_v8_16KB
	bool
	help
	  16KB translation granule size.

config ARCH_HAS_SMMU_PTFS_v8_64KB
	bool
	help
	  64KB translation granule size.

config ARCH_HAS_SMMU_PTFS_SV32
	bool
	help
	  RISC-V 32-bit address translation.

config ARCH_HAS_SMMU_PTFS_SV39
	bool
	help
	  RISC-V 39-bit address translation.

config ARCH_HAS_SMMU_PTFS_SV48
	bool
	help
	  RISC-V 48-bit address translation.

config SMMU_COMMON
	bool
	select HEAP

config SMMU
	bool
	select BIT_FIND_CLEAR
	select SMMU_COMMON

config RISCV_IOMMU
	bool

choice
	prompt "Translation scheme"

config SMMU_ARCH64
	bool "ARCH64"
	depends ARM_SMMUv2 || ARM_SMMUv3

config SMMU_ARCH32_S
	bool "ARCH32 short"
	depends ARCH_HAS_SMMU_PTFS_SHORT

config SMMU_ARCH32_L
	bool "ARCH32 long"
	depends ARCH_HAS_SMMU_PTFS_LONG

config SMMU_SV39
	bool "RISCV SV39"
	depends ARCH_HAS_SMMU_PTFS_SV39

config SMMU_SV48
	bool "RISCV SV48"
	depends ARCH_HAS_SMMU_PTFS_SV48

endchoice

if SMMU

config SMMU_CTTW
	bool "Coherent table walk (CTTW) support"
	depends ARCH_HAS_SMMU_CTTW

config SMMU_BTM
	bool "Broadcast TLB maintenance (BTM) support"
	depends ARCH_HAS_SMMU_BTM

config SMMU_HAFDB
	bool "Hardware access flag and dirty bit (HAFADBS) support"
	depends ARCH_HAS_SMMU_HAFDB

endif

menuconfig ARM_SMMU
	bool "ARM System Memory Management Unit (SMMU) support"
	depends ARCH_HAS_SMMU
	select SMMU

if ARM_SMMU

choice
	prompt "SMMU Architecture"

config ARM_SMMUv1
	bool "ARM SMMUv1"
	depends ARCH_HAS_SMMUv1
	select ARCH_HAS_SMMU_SSDT

config ARM_SMMUv1_64KB
	bool "ARM SMMUv1 64KB"
	depends ARCH_HAS_SMMUv1_64KB

config ARM_SMMUv2
	bool "ARM SMMUv2"
	depends ARCH_HAS_SMMUv2
	select ARCH_HAS_SMMU_EXSMRG
	select ARCH_HAS_SMMU_SSDT
	select ARCH_HAS_SMMU_COMPINDEX

endchoice

config SMMU_SSDT
	bool "Security state determination table (SSDT) support"
	depends ARCH_HAS_SMMU_SSDT

config SMMU_EXSMRG
	bool "Extended stream match register group (EXSMRG) support"
	depends ARCH_HAS_SMMU_EXSMRG
	select ARCH_IS_SMMU_SM

config SMMU_COMPINDEX
	bool "StreamID compressed indexing support"
	depends ARCH_HAS_SMMU_COMPINDEX

config SMMU_E2HC
	bool "E2H context (E2HC) support"
	depends ARCH_HAS_SMMU_E2HC

config SMMU_DISABLE_BYPASS
	bool "Disable bypass streams"
	help
	  Disable bypass streams such that incoming transactions from
	  devices that are not attached to an iommu domain will report an
	  abort back to the device and will not be allowed to pass through
	  the SMMU.

endif

menuconfig ARM_SMMUv3
	bool "ARM System Memory Management Unit v3 (SMMUv3) support"
	depends ARCH_HAS_SMMUv3
	select BIT_FIND_CLEAR
	select BIT_FLS64
	select SMMU_COMMON
	select ARCH_HAS_SMMU_PMCG

if ARM_SMMUv3

endif

config SMMU_MMU500
	bool "ARM CoreLink MMU-500 SMMU support"
	select ARCH_HAS_SMMUv2
	select ARM_SMMU

config SMARCO_RVSMMU
	bool "SmarCo DUOWEN RISCV SMMU (RVSMMU) support"
	select ARCH_HAS_RVSMMU
	select ARCH_IS_SMMU_SM
	select ARCH_HAS_SMMU_BTM
	select ARCH_HAS_SMMU_VMID16
	select ARCH_HAS_SMMU_PTFS_SV39
	select SMMU

config SMMU_MMU600
	bool "ARM CoreLink MMU-600 SMMU support"
	select ARCH_HAS_SMMUv3
	select ARM_SMMUv3

config IOMMU_PGTABLE_ARMv8
	bool "ARMv8 I/O page table support"

config IOMMU_PGTABLE_RISCV
	bool "RISC-V I/O page table support"

endmenu
