#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_SPIKE

menu "Simulated RISCV (SPIKE) board options"

choice
	prompt "CPU ISA"
	default SPIKE_CPU64
	help
	  Selects CPUs that compiled sdfirm should run against.

config SPIKE_CPU32
	bool "32-bit CPU"
	select CPU_SPIKE32

config SPIKE_CPU64
	bool "64-bit CPU"
	select CPU_SPIKE64

endchoice

config SPIKE_BOOT_CPU
	bool "Enable first core as boot CPU"
	help
	  That means exclude the 1st core from SMP cores.

config SPIKE_SMP_CPUS
	int "Number of cores per cluster"
	depends SMP
	range 1 4
	default 4

config SPIKE_SMP_CLUSTERS
	int "Number of clusters per rail"
	depends SMP && !SPIKE_BOOT_CPU
	range 1 32
	default 1

config SPIKE_SMP_RAILS
	int "Number of cluster rails"
	depends SMP && !SPIKE_BOOT_CPU
	range 1 32
	default 1

config SPIKE_MEM1_BASE
	hex "Primary memory base address"
	default 0x80000000

config SPIKE_MEM1_SIZE
	hex "Primary memory size"
	default 0x80000000

config SPIKE_MEM2
	bool "Enable secondary memory range"

if SPIKE_MEM2

config SPIKE_MEM2_BASE
	hex "Secondary memory base"
	default 0x00000000

config SPIKE_MEM2_SIZE
	hex "Secondary memory size"
	default 0x80000000

config SPIKE_MEM2_ROM
	bool "Use secondary memory range as ROM"

endif

config SPIKE_ICACHE
	bool "Enable I-cache"

if SPIKE_ICACHE

config SPIKE_ICACHE_W
	hex "I-cache ways"

config SPIKE_ICACHE_S
	hex "I-cache sets"

config SPIKE_ICACHE_B
	hex "I-cache byte"

endif

config SPIKE_DCACHE
	bool "Enable D-cache"

if SPIKE_DCACHE

config SPIKE_DCACHE_W
	hex "D-cache ways"

config SPIKE_DCACHE_S
	hex "D-cache sets"

config SPIKE_DCACHE_B
	hex "D-cache byte"

endif

config SPIKE_L2_CACHE
	bool "Enable L2-cache"
	depends SPIKE_SMP

if SPIKE_L2_CACHE

config SPIKE_L2_CACHE_W
	hex "L2 cache ways"

config SPIKE_L2_CACHE_S
	hex "L2 cache sets"

config SPIKE_L2_CACHE_B
	hex "L2 cache byte"

endif

menu "Peripheral settings"

config SPIKE_CLINT
	bool "Enable CLINT emulation"
	select ARCH_HAS_CLINT
	select CLINT if !SYS_NOIRQ

config SPIKE_CLINT_RTC_FREQ
	int "Clint timer frequency"
	depends SPIKE_CLINT
	default 10000000
	range 10000 10000000
	help
	  In the cycle accurate emulation environment, using a cycle based
	  RTC frequency causes a longer timeout from the real world's
	  perspective. This configuration allows users to select a lower
	  frequency for the RTC to match the speed of the emulation host.

config SPIKE_HTIF
	bool "Enable HTIF emulation"
	select ARCH_HAS_HTIF
	select HTIF if UART || DEBUG_PRINT || CONSOLE

endmenu

menu "Shutdown scheme"

config SPIKE_SHUTDOWN_SPIKE
	bool "Spike HTIF poweroff"
	help
	  Write to HTIF at specific CSR mimpid.
	select SBI_CSR_MIMPID if SBI

if SPIKE_SHUTDOWN_SPIKE

config SPIKE_CSR_MIMPID
	hex "CSR mimpid value identified to Spike"
	default 0x7370696B

endif

config SPIKE_SHUTDOWN_DUOWEN
	bool "Duowen IO write"
	help
	  Write 0x14 to 0xFFFFFFFF00.

config SPIKE_SHUTDOWN_OVPSIM
	bool "OVPSim spin"
	help
	  Spin around write_tohost symbol.

endmenu

choice
	prompt "Program type"

config SPIKE_PK
	bool "Proxy kernel"
	select SYS_ENTR_M
	select SYS_EXIT_M
	select XIP

config SPIKE_BBL
	bool "Berkeley boot loader (BBL)"
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SYS_EXIT_S
	select SBI
	select XIP

endchoice

endmenu

endif
