#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "Clock drivers"

menuconfig DW_PLL5GHZ_TSMC12FFC
	bool "Synopsys DWC PLL5GHz TSMC12FFCNS support"
	depends CLK

if DW_PLL5GHZ_TSMC12FFC

config DW_PLL5GHZ_TSMC12FFC_RANGE2
	bool "Enable range 2 preference"
	help
	  For 4G-5G range output frequency, both range2 (vco_mode=1) and
	  range 3 (low_freq=1) can match. By default, range 3 is preferred
	  due to lower jitter (high current => lower jitter), however,
	  range 2 can also be preferred due to lower comsuption.
	  If unsure, say 'N'.

config DW_PLL5GHZ_TSMC12FFC_GEAR
	bool "Enable fast startup transition"
	help
	  From Power-down to Normal operation the PLL can transition by a
	  Fast Startup (gear) state when the gear_shift pin is high, or by
	  a Slow Startup state when the gear_shift pin is low. The big
	  difference between fast and slow startups is the time required
	  to lock the phase of the loop (SPO). Fast PLL locking is achieved
	  at the cost of less phase margin and more jitter during the gear
	  state.

endif

endmenu
