
menu "RISCV system tests"

source tests/riscv/isa/Kconfig
source tests/riscv/litmus/Kconfig
source tests/riscv/iommu/Kconfig
source tests/riscv/nexus/Kconfig
source tests/riscv/trace/Kconfig

endmenu
