#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "MCTP Bus Owner Proxy drivers"

menuconfig SPACEMIT_MCTP
	bool "SPACEMIT MCTP support"
	depends MCTP

if SPACEMIT_MCTP

config SPACEMIT_MCTP_DEBUG_IO
	bool "Enable IO register debugging"
	depends CONSOLE_DEBUG

endif

endmenu
