#
# Supervisor Binary Interface (SBI)
#

config ARCH_HAS_SBI_IPI
	bool

config ARCH_HAS_SBI_TIMER
	bool

menuconfig SBI
	bool "Supervisor binary interface (SBI) support"
	depends RISCV_ENTR_M && !RISCV_VIRQ
	select RISCV_PMP if CPU_PMP
	select CPU_COUNTERS
	select RISCV_COUNTERS
	select BIT_FLS64
	select BIT_FFS32
	select FDT if ARCH_HAS_FDT
	select SBI_RISCV_F if RISCV_F
	select SBI_RISCV_D if RISCV_D
	select SBI_RISCV_C if RISCV_C

if SBI

config SBI_RISCV_F
	bool "Enable single precision FP load/store"

config SBI_RISCV_D
	bool "Enable double precision FP load/store"

config SBI_RISCV_C
	bool "Enable compressed load/store"

config SBI_RISCV_S
	bool "Enable supervisor mode"
	depends RISCV_S

config SBI_RISCV_U
	bool "Enable user mode"

config SBI_PAYLOAD
	bool "Enable SBI payload binary"
	select SBI_RISCV_F
	select SBI_RISCV_D
	select SBI_RISCV_C
	select SBI_RISCV_S if RISCV_S
	select SBI_RISCV_U
	select CONSOLE
	select CONSOLE_OUTPUT
	select CONSOLE_INPUT

if SBI_PAYLOAD

config SBI_PAYLOAD_PATH
	string "Path to the payload binary"

config SBI_PAYLOAD_ALIGN_RELAXED
	bool "Enable relaxed alignment"

endif

config SBI_FDT
	bool "Enable SBI device tree binary"

if SBI_FDT

choice
	prompt "Device tree source"

config SBI_FDT_ARG1
	bool "Argument (a1)"

config SBI_FDT_ADDR
	bool "Fixed address"

config SBI_FDT_PAYLOAD
	bool "Payload"

endchoice

config SBI_FDT_ADDR_BASE
	hex "Fixed address of device tree binary"
	depends SBI_FDT_ADDR

config SBI_FDT_PAYLOAD_PATH
	string "Path to the device tree binary"
	depends SBI_FDT_PAYLOAD

endif

config SBI_CSR_MIMPID
	bool "Support reading the mimpid CSR"
	default n

endif
