#
# Supervisor Binary Interface (SBI)
#

config ARCH_HAS_SBI_IPI
	bool

config ARCH_HAS_SBI_TIMER
	bool

config ARCH_HAS_SBI_CLOCK
	bool

config ARCH_HAS_SBI_PINCTRL
	bool

menuconfig SBI
	bool "Supervisor binary interface (SBI) support"
	depends RISCV_ENTR_M && !RISCV_VIRQ
	select RISCV_PMP if CPU_PMP
	select CPU_COUNTERS
	select RISCV_COUNTERS
	select BIT_FLS64
	select BIT_FFS32
	select SBI_RISCV_F if RISCV_F
	select SBI_RISCV_D if RISCV_D
	select SBI_RISCV_C if RISCV_C
	select SBI_NEXT_U if !SBI_PAYLOAD && SYS_EXIT_U
	select SBI_NEXT_S if !SBI_PAYLOAD && SYS_EXIT_S
	select SBI_NEXT_M if !SBI_PAYLOAD && SYS_EXIT_M
	select CLK_MNEMONICS if ARCH_HAS_SBI_CLOCK
	select PRINT_SNPRINTF
	select STRING_STRNCPY

if SBI

config SBI_RISCV_F
	bool "Enable single precision FP load/store"

config SBI_RISCV_D
	bool "Enable double precision FP load/store"

config SBI_RISCV_C
	bool "Enable compressed load/store"

config SBI_RISCV_S
	bool "Enable supervisor mode"
	depends RISCV_S

config SBI_RISCV_U
	bool "Enable user mode"

config SBI_NEXT_U
	bool

config SBI_NEXT_S
	bool

config SBI_NEXT_M
	bool

choice
	prompt "Next priviledge level"

# Disabled for the firmware system
config SBI_RISCV_NEXT_U
	bool "U-Mode"
	depends SBI_NEXT_U
	depends !SBI_DYNAMIC

config SBI_RISCV_NEXT_S
	bool "S-Mode"
	depends SBI_NEXT_S
	depends !SBI_DYNAMIC

config SBI_RISCV_NEXT_M
	bool "M-Mode"
	depends SBI_NEXT_M
	depends !SBI_DYNAMIC

endchoice

config SBI_HMO
	bool "Enable hart map offloading (HMO)"

config SBI_BOOT_PRINTS
	bool "Enable SBI boot prints"
	depends CONSOLE_OUTPUT

choice
	prompt "Firmware type"
	default SBI_DEFAULT

config SBI_DEFAULT
	bool "Enable SBI default binary"

config SBI_PAYLOAD
	bool "Enable SBI payload binary"
	depends !SBI_DYNAMIC
	select SBI_RISCV_F
	select SBI_RISCV_D
	select SBI_RISCV_C
	select SBI_RISCV_S if RISCV_S
	select SBI_RISCV_U if RISCV_U
	select SBI_NEXT_S if RISCV_SEE
	select SBI_NEXT_U if RISCV_AEE
	select CONSOLE
	select CONSOLE_OUTPUT
	select CONSOLE_INPUT

config SBI_DYNAMIC
	bool "Enable SBI dynamic binary"
	select SBI_RISCV_F
	select SBI_RISCV_D
	select SBI_RISCV_C
	select SBI_RISCV_S if RISCV_S
	select SBI_RISCV_U if RISCV_U
	select CONSOLE
	select CONSOLE_OUTPUT
	select CONSOLE_INPUT

endchoice

if SBI_PAYLOAD

config SBI_PAYLOAD_PATH
	string "Path to the payload binary"

config SBI_PAYLOAD_ALIGN_RELAXED
	bool "Enable relaxed alignment"

config SBI_PAYLOAD_DUMP
	bool "Enable payload dump test"
	depends CONSOLE_OUTPUT

endif

config SBI_FDT
	bool "Enable SBI device tree binary"
	select FDT if ARCH_HAS_FDT
	help
	  When device tree is enabled in SBI, platform may choose to use
	  builtin FDT via selecting FDT_BUILTIN in the scope of ARCH_xxx.
	  When FDT_BUILTIN is not selected, the register a1 will be
	  assumed to contain a pointer to the FDT provided by the previous
	  firmware.

if SBI_FDT

config SBI_FDT_BUILTIN
	bool "Force builtin flatened device tree"
	select FDT_BUILTIN
	help
	  On platforms that allow previous firmware to pass DTB via the
	  register of a1, users can still force SBI to use a builtin DTB
	  instead.
	  If unsre, say 'N';

endif

config SBI_CSR_MIMPID
	bool "Support reading the mimpid CSR"
	default n

endif
