#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Small Device Firmware Configuration"

config ARM
	bool
	default y
	help

menu "ARM system options"

choice
	prompt "ARM system type"
	default ARCH_LM3S9B92

config ARCH_LM3S9B92
	bool "Luminary Stellaris LM3S9B92"
	select CPU_CORTEXM3
	select GPT_LM3S9B92 if TIMER
	select ARCH_IS_TICKLESS if !TICK_LM3S9B92_PERIODIC
	select ARCH_HAS_TSC
	select ARCH_HAS_GPIO
	help
	  This enables support for systems based on LM3S9B92.

config ARCH_LM3S3826
	bool "Luminary Stellaris LM3S3826"
	select CPU_CORTEXM3

endchoice

source arch/arm/common/Kconfig

menu "Compiler options"

config ARM_THUMB2
	bool "Compile the firmware in thumb mode"
	depends on CPU_32v7M || CPU32v6M || CPU32v6T || CPU32v5T || CPU32v4T || CPU32v3M
	select ARM_EABI
	select ARM_ASM_UNIFIED
	help
	  By enabling this option, the kernel will be compiled in
	  thumb mode. A compiler/assembler that understand the unified
	  ARM-thumb syntax is needed.
	  If unsure, say N.

config ARM_ASM_UNIFIED
	bool

config ARM_EABI
	bool "Use the ARM EABI application binary interface"
	help
	  This option allows for the firmware to be compiled using the latest
	  ARM ABI (aka EABI).

endmenu

endmenu

source "arch/arm/mach-lm3s9b92/Kconfig"

source "appl/Kconfig"
source "kernel/Kconfig"
source "drivers/Kconfig"
source "lib/Kconfig"
source "init/Kconfig"

