#
# MTD Devices
#

menuconfig MTD
	bool "Memory technology device (MTD) support"
	select BIT_FLS32
	select BIT_FLS16

if MTD

config MTD_MAX_CHIPS
	int "Number of memory chip drivers (1~8)"
	range 1 8
	default 1

config MTD_MAX_DEVS
	int "Number of memory devices (1~8)"
	range 1 8
	default 1

config MTD_CONCAT
	bool "Enable MTD device concatenation support"
	select BIT_FLS32
	select BIT_FLS16
	help

config MTD_BLOCK_RW
	bool "Read/write on block boundary"
	default y

if MTD_CONCAT

config MTD_MAX_CONCATS
	int "Number of concatenated devices (1~8)"
	range 1 8
	default 1

choice
	prompt "Concatenation style"

config MTD_CONCAT_PAGE
	bool "Page boundary"

config MTD_CONCAT_CHIP
	bool "Chip boundary"

endchoice

endif

config MTD_BLOCK
	bool "MTD block device support"
	depends SCSI_SBC
	default y

menuconfig MTD_FLASH
	bool "Flash (NOR) memory support"

config ARCH_HAS_FLASH
	bool
	select BIT_FLS16

if MTD_FLASH

config FLASH_MAX_BANKS
	int "Number of Flash banks"
	range 1 16
	default 1

endif

menuconfig MTD_DATAFLASH
	bool "ATMEL SPI interfaced DataFlash support"
	depends SPI_MASTER
	select BIT_FLS16

if MTD_DATAFLASH

config DATAFLASH_MAX_BANKS
	int "Number of DataFlash banks"
	range 1 16
	default 2

config DATAFLASH_WRITE_VERIFY
	bool "Verify DataFlash page writes"

config DATAFLASH_OTP
	bool "DataFlash one time programmable (OTP) support"

endif

config ARCH_HAS_SPIFLASH
	bool

config ARCH_HAS_SPIFLASH_ADDR_4BYTE
	bool

menuconfig MTD_SPIFLASH
	bool "Winbond SPI interfaced flash support"
	depends SPI_MASTER

if MTD_SPIFLASH

config SPIFLASH_MAX_BANKS
	int "Number of SPI flash banks"
	range 1 16
	default 1

choice
	prompt "SPI wires"

config SPIFLASH_STD
	bool "Standard SPI instructions"

config SPIFLASH_DUAL
	bool "Dual SPI instructions"

config SPIFLASH_QUAD
	bool "Quad SPI instructions"

endchoice

choice
	prompt "Standard SPI mode"
	default SPIFLASH_MODE_3

config SPIFLASH_MODE_0
	bool "Mode 0"

config SPIFLASH_MODE_3
	bool "Mode 3"

endchoice

choice
	prompt "Block erase size"

config SPIFLASH_ERASE_4K
	bool "Sector 4KB"

config SPIFLASH_ERASE_32K
	bool "Block 32KB"

config SPIFLASH_ERASE_64K
	bool "Block 64KB"

endchoice

config SPIFLASH_ADDR_4BYTE
	bool "Enable 4-byte address mode"
	depends ARCH_HAS_SPIFLASH_ADDR_4BYTE

endif

config MTD_MMCARD
	bool "Multimedia card (MMC) device support"

endif
