
#
# Firmware Appliance
#

menu "Appliance types"

menu "Flash storage support"

endmenu

menu "Alpha/numeric display support"

config LCD_EZIO
	bool "EZIO"
	select LCD
	select UART
	select UART_ASYNC

if LCD_EZIO

config EZIO_UART_PORT
	int "Asynchronous UART port"
	range 0 9
	default 1

endif

endmenu

endmenu
