
#
# Firmware Appliance
#

menu "Appliance types"

config LCD_EZIO
	bool "EZIO-100 LCD/Keyboard module"
	select LCD
	select KBD
	select UART

if LCD_EZIO

config EZIO_UART_PORT
	int "Asynchronous UART port"
	range 0 9
	default 1

endif

endmenu
