#include <target/arch.h>

/dts-v1/;

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	compatible = "riscv-smarco";
	model = "riscv-smarco,duowen";

	chosen {
#ifdef CONFIG_DUOWEN_UART_DTS_CON
		bootargs = [00];
		stdout-path = "/uart@ff63000000";
#else
		bootargs = "console=hvc0 earlycon=sbi";
#endif
	};

#ifdef CONFIG_DUOWEN_UART_DTS
	uart@ff63000000 {
		interrupts = <0x54>;
#ifdef CONFIG_SMP
#ifdef CONFIG_DUOWEN_APC_3
		interrupt-parent = <0x7>;
#else /* CONFIG_DUOWEN_APC_3 */
#ifdef CONFIG_DUOWEN_APC_4
		interrupt-parent = <0x9>;
#else /* CONFIG_DUOWEN_APC_4 */
		interrupt-parent = <0x21>;
#endif /* CONFIG_DUOWEN_APC_4 */
#endif /* CONFIG_DUOWEN_APC_3 */
#else /* CONFIG_SMP */
		interrupt-parent = <0x3>;
#endif /* CONFIG_SMP */
#ifdef CONFIG_DUOWEN_FPGA
		clock-frequency = <0x989680>;
#endif
#ifdef CONFIG_DUOWEN_ZEBU
		clock-frequency = <0x7735940>;
#endif
#ifdef CONFIG_DUOWEN_ASIC
		clock-frequency = <0x7735940>;
#endif
		reg = <0xff 0x63000000 0x0 0x100>;
		reg-io-width = <0x4>;
		compatible = "snps,dw-apb-uart";
	};
#endif

	poweroff {
		value = <0x5555>;
		offset = <0x0>;
		regmap = <0x4>;
		compatible = "syscsr-poweroff";
	};

	reboot {
		value = <0x7777>;
		offset = <0x0>;
		regmap = <0x4>;
		compatible = "syscsr-reboot";
	};

	cpus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		timebase-frequency = <0x989680>;

#ifdef CONFIG_SMP
#ifdef CONFIG_DUOWEN_APC_3
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x5>;
				};
			};
			cluster1 {
				core0 {
					cpu = <0x3>;
				};
			};
			cluster2 {
				core0 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};
		cpu@1 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};
		cpu@2 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};
#else /* CONFIG_DUOWEN_APC_3 */
#ifdef CONFIG_DUOWEN_APC_4
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x7>;
				};
			};
			cluster1 {
				core0 {
					cpu = <0x5>;
				};
			};
			cluster2 {
				core0 {
					cpu = <0x3>;
				};
			};
			cluster3 {
				core0 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x7>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x8>;
			};
		};
		cpu@1 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};
		cpu@2 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};
		cpu@3 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};
#else /* CONFIG_DUOWEN_APC_4 */
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x1f>;
				};
				core1 {
					cpu = <0x1d>;
				};
				core2 {
					cpu = <0x1b>;
				};
				core3 {
					cpu = <0x19>;
				};
			};
			cluster1 {
				core0 {
					cpu = <0x17>;
				};
				core1 {
					cpu = <0x15>;
				};
				core2 {
					cpu = <0x13>;
				};
				core3 {
					cpu = <0x11>;
				};
			};
			cluster2 {
				core0 {
					cpu = <0xf>;
				};
				core1 {
					cpu = <0xd>;
				};
				core2 {
					cpu = <0xb>;
				};
				core3 {
					cpu = <0x9>;
				};
			};
			cluster3 {
				core0 {
					cpu = <0x7>;
				};
				core1 {
					cpu = <0x5>;
				};
				core2 {
					cpu = <0x3>;
				};
				core3 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x1f>;
			device_type = "cpu";
			reg = <0xf>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x20>;
			};
		};
		cpu@1 {
			phandle = <0x1d>;
			device_type = "cpu";
			reg = <0xe>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x1e>;
			};
		};
		cpu@2 {
			phandle = <0x1b>;
			device_type = "cpu";
			reg = <0xd>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x1c>;
			};
		};
		cpu@3 {
			phandle = <0x19>;
			device_type = "cpu";
			reg = <0xc>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x1a>;
			};
		};
		cpu@4 {
			phandle = <0x17>;
			device_type = "cpu";
			reg = <0xb>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x18>;
			};
		};
		cpu@5 {
			phandle = <0x15>;
			device_type = "cpu";
			reg = <0xa>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x16>;
			};
		};
		cpu@6 {
			phandle = <0x13>;
			device_type = "cpu";
			reg = <0x9>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x14>;
			};
		};
		cpu@7 {
			phandle = <0x11>;
			device_type = "cpu";
			reg = <0x8>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x12>;
			};
		};
		cpu@8 {
			phandle = <0xf>;
			device_type = "cpu";
			reg = <0x7>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x10>;
			};
		};
		cpu@9 {
			phandle = <0xd>;
			device_type = "cpu";
			reg = <0x6>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xe>;
			};
		};
		cpu@10 {
			phandle = <0xb>;
			device_type = "cpu";
			reg = <0x5>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xc>;
			};
		};
		cpu@11 {
			phandle = <0x9>;
			device_type = "cpu";
			reg = <0x4>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0xa>;
			};
		};
		cpu@12 {
			phandle = <0x7>;
			device_type = "cpu";
			reg = <0x3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x8>;
			};
		};
		cpu@13 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};
		cpu@14 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};
		cpu@15 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};
#endif /* CONFIG_DUOWEN_APC_4 */
#endif /* CONFIG_DUOWEN_APC_3 */
#else /* CONFIG_SMP */
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};

#endif /* CONFIG_SMP */
	};

	memory@0 {
		device_type = "memory";
#ifdef CONFIG_DUOWEN_DDR_32M
		reg = <0x0 0x0000000000 0x0 0x02000000>;
#endif
#ifdef CONFIG_DUOWEN_DDR_256M
		reg = <0x0 0x0000000000 0x0 0x20000000>;
#endif
#ifdef CONFIG_DUOWEN_DDR_16G
		reg = <0x0 0x0000000000 0x4 0x00000000>;
#endif
#ifdef CONFIG_DUOWEN_DDR_512G
		reg = <0x0 0x0000000000 0x80 0x00000000>;
#endif
	};

	soc {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		compatible = "simple-bus";
		ranges;

		interrupt-controller@ff70000000 {
#ifdef CONFIG_SMP
#ifdef CONFIG_DUOWEN_APC_3
			phandle = <0x7>;
#else /* CONFIG_DUOWEN_APC_3 */
#ifdef CONFIG_DUOWEN_APC_4
			phandle = <0x9>;
#else /* CONFIG_DUOWEN_APC_4 */
			phandle = <0x21>;
#endif /* CONFIG_DUOWEN_APC_4 */
#endif /* CONFIG_DUOWEN_APC_3 */
#else /* CONFIG_SMP */
			phandle = <0x3>;
#endif /* CONFIG_SMP */
			riscv,ndev = <0x35>;
			reg = <0xff 0x70000000 0x0 0x4000000>;
			interrupts-extended = <0x2 0x52 0x2 0xa3>;
			interrupt-controller;
			compatible = "riscv,plic0";
			#interrupt-cells = <0x1>;
			#address-cells = <0x0>;
		};

		clint@ff010f0000 {
			interrupts-extended = <0x2 0x3 0x2 0x7>;
			reg = <0xff 0x10f0000 0x0 0x10000>;
			compatible = "riscv,clint0";
		};
	};
};
