#include <target/arch.h>

/dts-v1/;

/ {
	#address-cells = <0x2>;
	#size-cells = <0x2>;
	compatible = "riscv-smarco";
	model = "riscv-smarco,duowen";

	chosen {
#ifdef CONFIG_DUOWEN_CONSOLE_UART0
		bootargs = [00];
		stdout-path = "/uart@ff63000000";
#else
		bootargs = "console=hvc0 earlycon=sbi";
#endif
	};

	uart@ff63000000 {
		interrupts = <0x54>;
#ifdef CONFIG_DUOWEN_APC_4
		interrupt-parent = <0x9>;
#endif
#ifdef CONFIG_DUOWEN_APC_3
		interrupt-parent = <0x7>;
#endif
#ifndef CONFIG_SMP
		interrupt-parent = <0x3>;
#endif
#ifdef CONFIG_DUOWEN_FPGA
		clock-frequency = <0x989680>;
#endif
#ifdef CONFIG_DUOWEN_ZEBU
		clock-frequency = <0x7735940>;
#endif
#ifdef CONFIG_DUOWEN_ASIC
		clock-frequency = <0x7735940>;
#endif
		reg = <0xff 0x63000000 0x0 0x100>;
		reg-io-width = <0x4>;
		compatible = "snps,dw-apb-uart";
	};

	poweroff {
		value = <0x5555>;
		offset = <0x0>;
		regmap = <0x4>;
		compatible = "syscsr-poweroff";
	};

	reboot {
		value = <0x7777>;
		offset = <0x0>;
		regmap = <0x4>;
		compatible = "syscsr-reboot";
	};

	cpus {
		#address-cells = <0x1>;
		#size-cells = <0x0>;
		timebase-frequency = <0x989680>;

#ifdef CONFIG_DUOWEN_APC_4
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x7>;
				};
			};
			cluster1 {
				core1 {
					cpu = <0x5>;
				};
			};
			cluster2 {
				core2 {
					cpu = <0x3>;
				};
			};
			cluster3 {
				core3 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x7>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x8>;
			};
		};
		cpu@1 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};
		cpu@2 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};
		cpu@3 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x3>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};
#endif
#ifdef CONFIG_DUOWEN_APC_3
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x5>;
				};
			};
			cluster1 {
				core1 {
					cpu = <0x3>;
				};
			};
			cluster2 {
				core2 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x5>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x6>;
			};
		};
		cpu@1 {
			phandle = <0x3>;
			device_type = "cpu";
			reg = <0x1>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x4>;
			};
		};
		cpu@2 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x2>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};
#endif
#ifndef CONFIG_SMP
		cpu-map {
			cluster0 {
				core0 {
					cpu = <0x1>;
				};
			};
		};
		cpu@0 {
			phandle = <0x1>;
			device_type = "cpu";
			reg = <0x0>;
			status = "okay";
			compatible = "riscv";
			riscv,isa = "rv64imafdsu";
			mmu-type = "riscv,sv48";
			interrupt-controller {
				#interrupt-cells = <0x1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
				phandle = <0x2>;
			};
		};

#endif
	};

	memory@0 {
		device_type = "memory";
#ifdef CONFIG_DUOWEN_DDR_512G
		reg = <0x0 0x0000000000 0x80 0x00000000>;
#endif
#ifdef CONFIG_DUOWEN_DDR_32M
		reg = <0x0 0x0000000000 0x0 0x02000000>;
#endif
#ifdef CONFIG_DUOWEN_DDR_16G
		reg = <0x0 0x0000000000 0x4 0x00000000>;
#endif
	};

	soc {
		#address-cells = <0x2>;
		#size-cells = <0x2>;
		compatible = "simple-bus";
		ranges;

		interrupt-controller@ff70000000 {
#ifdef CONFIG_DUOWEN_APC_4
			phandle = <0x9>;
#endif
#ifdef CONFIG_DUOWEN_APC_3
			phandle = <0x7>;
#endif
#ifndef CONFIG_SMP
			phandle = <0x3>;
#endif
			riscv,ndev = <0x35>;
			reg = <0xff 0x70000000 0x0 0x4000000>;
			interrupts-extended = <0x2 0x52 0x2 0xa3>;
			interrupt-controller;
			compatible = "riscv,plic0";
			#interrupt-cells = <0x1>;
			#address-cells = <0x0>;
		};

		clint@ff010f0000 {
			interrupts-extended = <0x2 0x3 0x2 0x7>;
			reg = <0xff 0x10f0000 0x0 0x10000>;
			compatible = "riscv,clint0";
		};
	};
};
