#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_DUOWEN

menu "Emulated RISCV (Duowen) board options"

config DUOWEN_BOOT_APC
	bool "Enable boot mode cluster"

choice
	prompt "Programmed CPUs"
	help
	  Selects CPUs that compiled sdfirm should run against.

config DUOWEN_IMC
	bool "IMC"
	select CPU_RI5CY
	select ARCH_HAS_NOVEC
	depends !DUOWEN_BOOT_APC

config DUOWEN_APC
	bool "APC"
	select CPU_64G
	select ARCH_HAS_NOVEC
	select ARCH_HAS_BOOT_LOAD

endchoice

choice
	prompt "Program type"

config DUOWEN_ZSBL
	bool "0-stage ROM bootloader (ZSBL)"
	select XIP
	select LOAD_DATA

config DUOWEN_FSBL
	bool "1-stage programmable bootloader (FSBL)"
	select ARCH_HAS_BOOT_LOAD
	select XIP

endchoice

config DUOWEN_TSC_DW_TIMERS
	bool "Use DesignWare counter as timestamp counter"
	help
	  The SoC always requires RISCV timers CSR_TIME to be enabled to
	  use timestamp features. However user can choose to use SoC
	  timers (in this case, DesignWare timers) as timestamp hardware.
	  Enable this option to switch to use DesignWare timer counter.

menuconfig CRCNTL
	bool "Enable clock/reset controller (CRCNTL) support"
	select DW_PLL5GHZ_TSMC12FFC

if CRCNTL

endif

endmenu

endif
