#
# ACPI Firmware Interfaces
#

config ARCH_HAS_ACPI
	bool

config ARCH_IS_ACPI_BIOS
	bool

config ARCH_IS_ACPI_OSPM
	bool

config ARCH_HAS_ACPI_PM_EVENT
	bool
	depends !ACPI_HW_REDUCED

config ARCH_HAS_ACPI_PM_TIMER
	bool
	depends !ACPI_HW_REDUCED

config ARCH_HAS_ACPI_GPE
	bool
	depends !ACPI_HW_REDUCED

menuconfig ACPI
	bool "Advanced Configuration Power Management Interface (ACPI) support"

if ACPI

choice
	prompt "ACPI support layer"

config ACPI_BIOS
	bool "BIOS"
	depends ARCH_IS_ACPI_BIOS

config ACPI_OSPM
	bool "OSPM"
	depends ARCH_IS_ACPI_OSPM
	select ACPI_AML

endchoice

config ACPI_GEN
	bool "Enable table generation support"
	select PRINT_SNPRINTF
	select PRINT_VTXPRINTF
	select HEAP

if ACPI_GEN

config ACPI_S1
	bool "Enable ACPI S1 support"
	default y

config ACPI_S3
	bool "Enable ACPI S3 support"
	default y

config ACPI_S4
	bool "Enable ACPI S4 support"
	default y

endif

config ACPI_HW_REDUCED
	bool "Enable hardware reduced ACPI support"
	default y if ARM

config ACPI_PM_EVENT
	bool "Enable power management (PM) fixed event support"
	depends ARCH_HAS_ACPI_PM_EVENT
	default y if !ACPI_HW_REDUCED

config ACPI_PM_TIMER
	bool "Enable power management (PM) timer support"
	depends ARCH_HAS_ACPI_PM_TIMER
	default y if !ACPI_HW_REDUCED

config ACPI_GPE
	bool "Enable generic purpose event (GPE) support"
	depends ARCH_HAS_ACPI_GPE
	default y if !ACPI_HW_REDUCED

config ACPI_AML
	bool "Enable ACPI machine languate (AML) interpreter support"
	default y if ACPI_OSPM

if ACPI_AML

config ACPI_AML_PREFIX_SIMPLE
	bool "Allow AML_NONE ByteConst/WordConst/DwordConst/QwordConst/String encoding"
	help
	  The ComputationalData opcode argument will be parsed along with
	  the creations of the opcode.  Which means following encodings:
	    ByteData
	    WordData
	    DwordData
	    QwordData
	    AsciiCharList NullChar
	  will be defined as:
	    Nothing
	  And the content will be parsed along with the prefix.

	  If unsure, say "N" here.

endif

config ACPI_TABLE_OVERRIDE
	bool "Enable OSPM table overridden support"
	depends ACPI_OSPM

endif
