#
# RISCV Litmus Tests
#

menuconfig TESTS_LITMUS_RISCV
	bool "RISC-V memory model litmus tests"
	depends TEST_LITMUS

if TESTS_LITMUS_RISCV

config LITMUS_RISCV_DUMMY
	bool "Dummy"

source tests/riscv/litmus/Kconfig.litmus

endif
