#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_QDF2400

menu "Qualcomm Centriq 2400 board options"

choice
	prompt "Programmed CPUs"
	help
	  Selects CPUs that compiled sdfirm should run against.

config QDF2400_IMC
	bool "IMC"
	select ARCH_HAS_GICv2

config QDF2400_APC
	bool "APC"
	select ARCH_HAS_GICv3

endchoice

config GPIO_TLMM
	bool "Qualcomm Top Level Module Multiplexer (TLMM) support"

config UART_QUART
	bool "Qualcomm QUART (dragonfly) controller support"
	depends !ARM_DCC
	select ARCH_HAS_UART
	select GPIO_TLMM
	default y
	help
	  QDF2400 contains 8 Qualcomm UART controllers instantiated in BAM
	  Low-Speed Peripheral devices.

if UART_QUART

config QUART_BLSP0
	bool "QUARTs in BAM Low-Speed Peripheral (BLSP) 0"
	default y

config QUART_BLSP3
	bool "QUARTs in BAM Low-Speed Peripheral (BLSP) 3"
	select UART_PL01X
	select UART_PL01X_SBSA
	default y

choice
	prompt "UART for debug consoles"
	help
	  Select UART port used for DEBUG_PRINT and CONSOLE.

config QUART_BLSP0_0
	bool "QUART0 (I0_BLSP UART0)"
	depends QUART_BLSP0

config QUART_BLSP0_1
	bool "BLSP0 UART1"
	depends QUART_BLSP0

config QUART_BLSP0_2
	bool "BLSP0 UART2"
	depends QUART_BLSP0

config QUART_BLSP0_3
	bool "BLSP0 UART3"
	depends QUART_BLSP0

config QUART_BLSP3_0
	bool "BLSP3 UART0"
	depends QUART_BLSP3

config QUART_BLSP3_1
	bool "BLSP3 UART1"
	depends QUART_BLSP3

config QUART_BLSP3_2
	bool "BLSP3 UART2"
	depends QUART_BLSP3

config QUART_BLSP3_3
	bool "BLSP3 UART3"
	depends QUART_BLSP3

endchoice

config QUART_AMPLIFIED_BAUDRATE
	bool "Enable amplified baudrate mode"
	help
	  Emulators actually hook UART register reads/writes to implement
	  UART consoles, thus an amplified baudrate can help them to
	  perform faster.
	  By selecting this configuration, QUART driver will try to use
	  a clock source that have the highest frequency.

endif

endmenu

endif
