#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_SUNXI

config SUNXI_HIGH_SRAM
	bool
	default n
	help
	  Older Allwinner SoCs have their mask boot ROM mapped just below
	  4GB, with the first SRAM region being located at address 0.
	  Some newer SoCs map the boot ROM at address 0 instead and move
	  the SRAM to 64KB, just behind the mask ROM.
	  Chips using the latter setup are supposed to select this option
	  to adjust the addresses accordingly.

config SUNXI_DE2
	bool

config SUN6I
	bool

config SUN8I
	bool

config SUN50I
	bool
	select SUNXI_DE2
	select SUNXI_HIGH_SRAM

config SUNXI_H3_H5
	bool
	select SUN8I
	select SUNXI_DE2

config SUN50I_H5
	bool
	select SUNXI_H3_H5
	select SUNXI_HIGH_SRAM

menu "Allwinnder ARM SoC options"

config SUNXI_BOOT0_RMR
	bool
	select ARCH_HAS_BOOT0
	help
	  Insert some ARM32 code at the very beginning of the binary
	  entry. Which uses an RMR register write to bring the core
	  into AARCH64 mode.

choice
	prompt "SUNXI board"
	help
	  Selects CPUs that compiled sdfirm should run against.

config SUNXI_H5_NANOPI
	bool "NanoPi NEO2"
	select SUN50I_H5

endchoice

choice
	prompt "SUNXI program stage"
	help
	  Selects start point of the SUNXI firmware.

config SUNXI_SPL
	bool "Secondary program loader (SPL)"
	select SUNXI_BOOT0_RMR
	select ARCH_HAS_BOOT_LOAD
	select BFM
	help
	  Enable behavior support of u-boot SPL.

endchoice

config SUNXI_CCU
	bool "Clock control unit (CCU) support"

config GPIO_SUNXI
	bool "SUNXI gpio controller support"
	select STRING_STRTOUL

menuconfig UART_SUNXI
	bool "SUNXI uart controller support"
	depends UART || DEBUG_PRINT || CONSOLE
	depends !ARM_DCC
	select ARCH_HAS_NS16550
	select NS16550
	select ARCH_HAS_NS16550_MEM32
	select GPIO
	default y
	help

if UART_SUNXI

choice
	prompt "UART console port"

config UART_SUNXI_CON0
	bool "UART0"

config UART_SUNXI_CON1
	bool "UART1"

config UART_SUNXI_CON2
	bool "UART2"

config UART_SUNXI_CON3
	bool "UART3"

endchoice

choice
	prompt "UART compatibility"
	default UART_SUNXI_16550

config UART_SUNXI_16540
	bool "16540"
	select ARCH_HAS_NS16550_FIFO_0
	select ARCH_HAS_NS16540

config UART_SUNXI_16550
	bool "16550"
	select ARCH_HAS_NS16550_FIFO_64

endchoice

endif

menuconfig SMHC_SUNXI
	bool "SUNXI SD/MMC host controller (SMHC) support"
	select GPIO

if SMHC_SUNXI

config ARCH_HAS_SMHC_SUNXI_3
	bool

choice
	prompt "Boot SMHC slot"

config SMHC_SUNXI_BOOT_0
	bool "SMHC0"

config SMHC_SUNXI_BOOT_1
	bool "SMHC1"

config SMHC_SUNXI_BOOT_2
	bool "SMHC2"

config SMHC_SUNXI_BOOT_3
	bool "SMHC3"
	depends ARCH_HAS_SMHC_SUNXI_3

endchoice

config SMHC_1_PINS
	string "SMHC1 pins"
	depends SMHC_SUNXI_BOOT_1

config SMHC_2_PINS
	string "SMHC2 pins"
	depends SMHC_SUNXI_BOOT_2

config SMHC_3_PINS
	string "SMHC3 pins"
	depends SMHC_SUNXI_BOOT_3

endif

endmenu

endif
