#
# Firmware Drivers
#

menu "Driver setup"

#
# Common to all Synopsys AMBA advance peripherals
#
config ARCH_HAS_DW_AMBA_ADVANCED
	bool

source drivers/timer/Kconfig
source drivers/uart/Kconfig
source drivers/lcd/Kconfig
source drivers/video/Kconfig
source drivers/mtd/Kconfig
source drivers/scs/Kconfig
source drivers/mmc/Kconfig
source drivers/ddr/Kconfig
source drivers/clk/Kconfig
source drivers/i2c/Kconfig

endmenu
