#
# Firmware Drivers
#

menu "Driver setup"

source drivers/timer/Kconfig
source drivers/uart/Kconfig
source drivers/lcd/Kconfig
source drivers/video/Kconfig
source drivers/mtd/Kconfig
source drivers/scs/Kconfig

endmenu
