#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "PECI slave drivers"

menuconfig SPACEMIT_SPI_PECI
	bool "SPACEMIT PECI emulation support"
	depends PECI
	select SPI
	select SPI_SLAVE

if SPACEMIT_PECI

endif

endmenu
