#
# Input/Output Devices
#

menu "Human Interface Devices (HID) support"

config LCD
	bool "Liquid crystal display (LCD) output support"

config KBD
	bool "Keyboard input support"

config LED
	bool "Light-Emitting Diode (LED) output support"

endmenu

