#
# Input/Output Devices
#

menu "Human interface devices support"

config LCD
	bool "Liquid crystal display (LCD) output support"

config KBD
	bool "Keyboard input support"

config LED
	bool "Light-Emitting Diode (LED) output support"

endmenu

