#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_UNLEASHED

menu "SiFive HiFive Unleashed (FU540) board options"

menu "CPU configuration"

choice
	prompt "RISCV CPU"
	default CPU_E51

config UNLEASHED_E51
	bool "Monitor Core (E51)"
	select CPU_E51

config UNLEASHED_U54
	bool "Application Cores (U54)"
	select CPU_U54

endchoice

endmenu

menu "System configuration"

choice
	prompt "Program type"

config UNLEASHED_ZSBL
	bool "Zeroth stage boot loader (ZSBL)"
	depends UNLEASHED_E51
	select ARCH_HAS_NOVEC
	select XIP
	select LOAD_DATA
	select UNLEASHED_SPINOR

config UNLEASHED_FSBL
	bool "First stage boot loader (FSBL)"
	depends UNLEASHED_E51
	select ARCH_HAS_NOVEC
	select ARCH_HAS_BOOT_LOAD
	select XIP
	select UNLEASHED_SPINOR
	select UNLEASHED_SDCARD
	select SIFIVE_DDR
	select SIFIVE_CACHE

config UNLEASHED_BBL
	bool "Berkeley boot loader (BBL)"
	depends UNLEASHED_U54

endchoice

choice
	prompt "Frequency of coreclk"

config UNLEASHED_CORECLK_FREQ_10GHZ
	bool "1.0 GHz"

config UNLEASHED_CORECLK_FREQ_15GHZ
	bool "1.5 GHz"

endchoice

choice
	prompt "Console uart port"

config UNLEASHED_CON_UART0
	bool "UART0"

config UNLEASHED_CON_UART1
	bool "UART1"

endchoice

menu "Boot flash device"

config UNLEASHED_FLASH
	bool
	select STRING_UUID
	select SPI

config UNLEASHED_SDCARD
	bool
	select UNLEASHED_FLASH
	select MMC_SPI

config UNLEASHED_SPINOR
	bool
	select UNLEASHED_FLASH

choice
	prompt "Boot flash controller"
	default UNLEASHED_FLASH_QSPI2 if UNLEASHED_SDCARD

config UNLEASHED_FLASH_QSPI0
	bool "QSPI0"
	depends UNLEASHED_SPINOR

config UNLEASHED_FLASH_QSPI1
	bool "QSPI1"
	depends UNLEASHED_SPINOR

config UNLEASHED_FLASH_QSPI2
	bool "QSPI2"
	depends UNLEASHED_SDCARD

endchoice

config UNLEASHED_SPINOR_RANDOM_ACCESS
	bool "Enable random accesses"
	depends UNLEASHED_SPINOR

choice
	prompt "SPI-NOR flash data width"
	depends UNLEASHED_SPINOR

config UNLEASHED_SPINOR_SINGLE
	bool "Single"

config UNLEASHED_SPINOR_QUAD
	bool "Quad"
	depends UNLEASHED_SPINOR_RANDOM_ACCESS

endchoice

endmenu

endmenu

menuconfig PRCI
	bool "Power reset clocking interrupt (PRCI) support"
	select ARCH_HAS_CLK
	depends CLK

if PRCI

endif

menuconfig SIFIVE_UART
	bool "SiFive UART controller support"
	select ARCH_HAS_UART
	select GPIO
	select CLK
	select MATH_DIV32

if SIFIVE_UART

config SIFIVE_UART_STATUS
	bool "Split TX/RX status from TX/RXDATA register"
	help
	  TXFULL/RXEMPTY bit is in the same register with TXDATA/RXDATA.
	  Thus polling RX status may result in unexpected data FIFO
	  draining. To avoid this, either prepare a software DWORD cache
	  of RXDATA or split the RXDATA register reads. Enabling this
	  option allows us to shrink the DWORD cache of RXDATA.
	  If unsure, say 'N'.

endif

menuconfig SIFIVE_QSPI
	bool "SiFive SPI controller support"
	select GPIO
	select CLK
	select MATH_DIV32

if SIFIVE_QSPI

config SIFIVE_QSPI_STATUS
	bool "Split TX/RX status from TX/RXDATA register"
	help
	  TXFULL/RXEMPTY bit is in the same register with TXDATA/RXDATA.
	  Thus polling RX status may result in unexpected data FIFO
	  draining. To avoid this, either prepare a software DWORD cache
	  of RXDATA or split the RXDATA register reads. Enabling this
	  option allows us to shrink the DWORD cache of RXDATA.
	  If unsure, say 'N'.

endif

menuconfig SIFIVE_DDR
	bool "Enable DDR subsystem support"
	depends UNLEASHED_FSBL

if SIFIVE_DDR

endif

menuconfig SIFIVE_CACHE
	bool "Enable cache controller support"
	depends UNLEASHED_FSBL

if SIFIVE_CCACHE

endif

endmenu

endif
