if ARCH_K1X

menu "Spacemit K1X board options"

config K1M_K1X
	bool

config K1X_S2C
	bool "S2C FPGA verification for K1-X"
	select K1M_K1X
	help
	  This configuration contains S2C FPGA bit developed by dev-A-dep.
	  Where:
	         CPU clk: S2CCLK_3(20M) /2 10M
            BUS(CCI) clk: S2CCLK_4(10M)
	         DDR clk: S2CCLK_1(20M) /4 5M (dfi, axi)
	    BUS(NCI) clk: S2CCLK_5(30M)
	        UART clk: S2CCLK_2(29M) /2 14.75M
	         PIC clk: S2CCLK_4(10M)

if K1M_K1X

choice
	prompt "SoC evaluation chip model"

config K1M_SOC_K1X
	bool "K1-X"

endchoice

endif

config K1X_SMP_CPUS
	int "Number of cores"
	depends SMP
	range 1 32
	default 4

config K1X_SMP_SPARSE_HART_ID
	bool "Enable sparse hart ID support"
	depends K1M_K1X
	depends EXPERIMENTAL
	help
	 Requires lots of changes to the software to determine if the ID
	 is a hart ID or a CPU ID.

menuconfig K1X_PARTIAL_GOOD
	bool "Partial goods"
	select ARCH_HAS_CLINT_CTX

if K1X_PARTIAL_GOOD

config K1X_BOOT_HART_ID
	int "Boot hart ID"
	range 0 7
	default 0

config K1X_PARTIAL_GOOD_MASK
	hex "Good hart mask"
	default 0x0033

endif

choice
	prompt "Program type"

config K1X_TB
	bool "Test bench"
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SYS_EXIT_S

config K1X_BBL
	bool "SBI loader"
	select ARCH_HAS_BOOT_LOAD
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SBI
	select SBI_PAYLOAD
	select XIP

endchoice

choice
	prompt "Program residency"

config K1X_SRAM
	bool "SRAM"
	depends K1X_TB || K1X_BBL

config K1X_DDR
	bool "DDR"
	depends K1X_TB || K1X_BBL

endchoice

config K1X_DDR_HIGH
	bool "Use high range of DDR DRAM"
	depends K1M_K1X

config K1X_DDR_SIZE_CUSTOM
	bool "Enable customized DRAM size"
	depends K1X_DDR

config K1X_MEM_SIZE
	hex "Memory size"
	default 0x2000000
	depends K1X_CPU || K1X_DDR_SIZE_CUSTOM

menuconfig K1X_CCI
	bool "K1MAX cache coherent interconnect support"
	select CCI550
	depends ARCH_HAS_NOC

menuconfig K1X_TIMER
	bool "K1MAX timer controller support"
	select ARCH_HAS_SBI_TIMER

if K1X_TIMER

endif

menuconfig K1X_UART
	bool "K1MAX UART controller support"
	select K1M_K1X_UART if K1M_K1X

if K1X_UART

config K1X_UART_ACCEL
	bool "Enable K1MAX UART acceleration support"
	depends SIMULATION
	help
	  When this is selected, the UART baudrate generator frequency will
	  be Fsrc/80, making things happening quicker.
	  In case your are using a UART master DPI VIP, selecting this is
	  safe as the VIP cares no about the baudrate.
	  This option is also useful for simulation acceleration.
	  If unsure, say 'N'.

endif

config K1M_K1X_UART
	bool
	select NS16550
	select ARCH_HAS_NS16550
	select ARCH_HAS_NS16550_MEM32

endmenu

endif
