#
# SPD Devices
#

menu "Serial Presence Detect (SPD) drivers"

config SPD_BUS_KHZ
	int "I2C BUS frequency (KHz) for SPD"
	default 60

menuconfig SPD_EE1004
	bool "JEDEC EE1004 SPD EEPROM"
	depends I2C && I2C_MASTER
	default y

if SPD_EE1004

endif

menuconfig SPD5118
	bool "JEDEC SPD5118 Hub and SPD device"
	depends I2C && I2C_MASTER
	default y

endmenu
