#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_DPU

menu "Smart Core DPU board options"

config DPU_BOOT
	bool

choice
	prompt "Program type"

config DPU_BOOT_ROM
	bool "0-stage boot ROM bootloader (ZSBL)"
	select XIP
	select LOAD_DATA
	select SYS_ENTR_M
	select SYS_EXIT_M
	select DPU_TCSR
	select DPU_BOOT
	select DPU_FLASH
	select DPU_DDR
	select ARCH_HAS_LOVEC

config DPU_BOOT_FLASH
	bool "1-stage programmable flash bootloader (FSBL)"
	select ARCH_HAS_BOOT_LOAD
	select XIP
	select LOAD_DATA
	select SYS_ENTR_M
	select SYS_EXIT_M
	select DPU_TCSR
	select DPU_BOOT
	select DPU_DDR
	select ARCH_HAS_NOVEC

config DPU_FIRM
	bool "DPU runtime firmware"
	select DPU_TCSR

endchoice

menuconfig DPU_TCSR
	bool "Enable top control and status registers (TCSR) support"

if DPU_TCSR

config DPU_TCSR_ADDR_TRANS
	bool "Enable address translation support"

config DPU_TCSR_BUS_TRANS
	bool "Enable bus transaction support"

endif

menuconfig DPU_PLL
	bool "Enable DPU PLL and clock/reset support"
	select DW_PLL5GHZ_TSMC12FFC
	select MATH_DIV32

if DPU_PLL

config DPU_PLL_ARST
	bool "Enable DPU PLL cluster reset (ARST) support"

config DPU_PLL_FREQPLAN_PE
	bool "Enable 7-gear PE frequency plan support"
	help
	  Frequency plan is only prepared for DDR 7-gear. Enable this
	  option to enable PE frequency plan support to match DDR gears.
	  If unsure, say 'N'.

config DPU_PLL_FREQPLAN_BUS
	bool "Enable 7-gear bus frequency plan support"
	help
	  Frequency plan is only prepared for DDR 7-gear. Enable this
	  option to enable bus frequency plan support to match DDR gears.
	  If unsure, say 'N'.

endif

menuconfig DPU_TMR
	bool "Enable DPU RISC-V timer support"

if DPU_TMR

endif

menuconfig DPU_FLASH
	bool "Enable random accessible flash support"

if DPU_FLASH

choice
	prompt "Divider length"
	default DPU_FLASH_DIVIDER_16

config DPU_FLASH_DIVIDER_8
	bool "8-bit"

config DPU_FLASH_DIVIDER_16
	bool "16-bit"

config DPU_FLASH_DIVIDER_24
	bool "24-bit"

config DPU_FLASH_DIVIDER_32
	bool "32-bit"

endchoice

choice
	prompt "SPI select length"
	default DPU_FLASH_SS_8

config DPU_FLASH_SS_8
	bool "8-bit"

config DPU_FLASH_SS_16
	bool "16-bit"

config DPU_FLASH_SS_24
	bool "24-bit"

config DPU_FLASH_SS_32
	bool "32-bit"

endchoice

endif

menuconfig DPU_DDR
	bool "Enable DPU DDR support"
	select DW_UMCTL2

if DPU_DDR

endif

config DPU_PCI_SUBSYS
	bool "Enable DPU PCI subsystem(Testchip) support"
	select DW_PCIE

endmenu

endif
