interface jtag_vpi

jtag newtap tap0 cpu -irlen 5 -expected-id 0x00000001
jtag newtap tap1 cpu -irlen 5 -expected-id 0x00000001

target create ariane riscv -chain-position tap0.cpu -coreid 0 -rtos riscv
#riscv set_command_timeout_sec 3000

jtag_vpi_set_port 5556
#$_TARGETNAME.0 configure -work-area-phys 0x80000000 -work-area-size 10000 -work-area-backup 1

flash bank spi0 dpuspi 0x0 0 0 0 ariane 0x0
init

# Steps to update Flash via JTAG
#
# flash erase_sector spi0 0 last
# flash write_bank spi0 sdfirm
# flash verify_bank spi0 sdfirm

#if {[ info exists pulse_srst]} {
#  ftdi_set_signal nSRST 0
#  ftdi_set_signal nSRST z
#}
halt
#flash protect 0 64 last off
echo "Ready for Remote Connections"
