#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "I2C host drivers"

menuconfig DW_I2C
	bool "Synopsys DesignWare APB I2C support"

if DW_I2C

config DW_I2C_EMPTYFIFO_HOLD_MASTER
	bool "If IC_EMPTYFIFO_HOLD_MASTER_EN is set"

config DW_I2C_DYNAMIC_TAR_UPDATE
	bool "If I2C_DYNAMIC_TAR_UPDATE is set"

endif

endmenu

menu "I2C slave drivers"

menuconfig DW_I2CS
	bool "Synopsys DesignWare I2C slave support"

if DW_I2CS

endif

endmenu
