ifdef CONFIG_CC_OPT_SIZE
CFLAGS		+= -Os
else
CFLAGS		+= -O2
endif

CFLAGS		+= -fno-builtin-printf
ifdef CONFIG_FRAME_POINTER
CFLAGS		+= -fno-omit-frame-pointer -fno-optimize-sibling-calls
else
CFLAGS		+= -fomit-frame-pointer
endif

ifdef CONFIG_CC_GEN_DEBUG
CFLAGS		+= -g
endif

NOSTDINC_FLAGS += -nostdinc -nostdlib
