#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

config ARCH_HAS_N100
	bool

menuconfig N100
	bool "SpacemiT N100 support"
	depends ARCH_HAS_N100

if N100

config ARCH_HAS_N100_CCIX
	bool

config N100_CCIX
	bool "Enable Cache Coherent Interconnect for Accelerators (CCIX) support"
	select BIT_FLS64

if N100_CCIX

endif

config N100_DEBUG
	bool "Enable register debugging"
	depends CONSOLE_DEBUG

endif

