#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

mainmenu "Small Device Firmware Configuration"

config MCS51
	bool
	default y
	select CC_ISR_VECTOR

source "init/Kconfig"

menu "MCS51 system options"

choice
	prompt "System type"
	default ARCH_AT8XC5122

config ARCH_AT8XC5122
	bool "Atmel AT8xC5122 based"
#	select ARCH_IS_TICKLESS
	select ARCH_HAS_TSC
	select TICK_PERIODIC if TICK
	select GPT_AT8XC5122 if TIMER || TICK
	select GPIO_AT8XC5122 if GPIO
	select UART_AT8XC5122 if DEBUG_PRINT || UART
	select USB_AT8XC5122 if USB
	select IFD_AT8XC5122 if SCS
	select KBD_AT8XC5122 if KBD

endchoice

endmenu

menu "Compiler options"

config CC_ISR_VECTOR
	bool "Enable compiler vectors"

source "arch/mcs51/mach-at8xc5122/Kconfig"
#source "arch/mcs51/plat-at8051/Kconfig"

endmenu

source "appl/Kconfig"
source "kernel/Kconfig"
source "drivers/Kconfig"
source "lib/Kconfig"
source "init/Kconfig.debug"
