config ARCH_HAS_LPC
	bool

config ARCH_HAS_SIO
	bool

menuconfig LPC
	bool "Low Pin Count (LPC) support"

if LPC

config SIO
	bool "Super IO (SIO) chip support"

endif

config ARCH_HAS_KCS
	bool

menuconfig IPMI
	bool "Intelligent Platform Management Interface (IPMI) support"

if IPMI

config KCS
	bool "Keyboard Control Service (KCS) support"
	select LPC

if KCS

config KCS_HIF
	bool "Enable KCS host interface support"
	select LPC

config KCS_BMC
	bool "Enable KCS BMC slave demo support"

endif

endif
