if ARCH_VIRT

menu "QEMU RISCV (VIRT) board options"

choice
	prompt "CPU ISA"
	default VIRT_CPU64
	help
	  Selects CPUs that compiled sdfirm should run against.

config VIRT_CPU32
	bool "32-bit CPU"
	select CPU_VIRT32

config VIRT_CPU64
	bool "64-bit CPU"
	select CPU_VIRT64

endchoice

config VIRT_SMP_CPUS
	int "Number of cores per cluster"
	depends SMP
	range 1 8
	default 8

config VIRT_MEM_SIZE
	hex "Memory size"
	default 0x80000000

choice
	prompt "Program type"

config VIRT_TB
	bool "Test bench"
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SYS_EXIT_S

config VIRT_BBL
	bool "Berkeley boot loader (BBL)"
	select ARCH_HAS_BOOT_LOAD
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SBI
	select SBI_PAYLOAD
	select XIP

endchoice

config VIRT_UART
	bool "Virtio UART controller (NS16550) support"
	select NS16550

if VIRT_UART

endif

endmenu

endif
