if ARCH_VIRT

menu "QEMU RISCV (VIRT) board options"

config VIRT_SMP_CPUS
	int "Number of cores per cluster"
	depends SMP
	range 1 8
	default 8

choice
	prompt "Program type"

config VIRT_BBL
	bool "Berkeley boot loader (BBL)"
	select SYS_ENTR_M
	select SYS_EXIT_M
	select SYS_EXIT_S
	select SBI
	select XIP

endchoice

endmenu

endif
