#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

menu "MTD memory drivers"

config DATAFLASH_AT45DB642D
	bool "ATMEL AT45DB642D DataFlash support"
	select MTD_DATAFLASH

if DATAFLASH_AT45DB642D
endif

config SPIFLASH_W25Q32
	bool "Winbond W25Q32 SPI flash support"
	select MTD_SPIFLASH

if SPIFLASH_W25Q32

endif

endmenu
