#
# For a description of the syntax of this configuration file,
# see Documentation/kbuild/kconfig-language.txt.
#

mainmenu "Small Device Firmware Configuration"

config AVR
	bool
	default y
	help

source "init/Kconfig"

menu "AVR system options"

choice
	prompt "AVR system type"
	default ARCH_AT90USB1287

config ARCH_AT90USB1287
	bool "Ateml AT90USB1287"
	select CPU_ATMEGA128
	select ARCH_IS_TICKLESS
	select GPT_AT90USB1287 if TIMER
	select ARCH_HAS_TSC
	select ARCH_HAS_WDT
	help
	  This enables support for systems based on AT90USBKey.

config ARCH_AT90SCR100
	bool "Ateml AT90SCR100"
	select CPU_ATMEGA128
	select GPT_AT90SCR100 if TIMER
	select ARCH_IS_TICKLESS
	select ARCH_HAS_TSC
	select ARCH_HAS_WDT
	help
	  This enables support for systems based on AT90SCRdr.

endchoice

source arch/avr/common/Kconfig

menu "Compiler options"

config CC_ISR_VECTOR
	bool "Enable compiler vectors"

endmenu

endmenu

source "arch/avr/mach-at90usb1287/Kconfig"
source "arch/avr/mach-at90scr100/Kconfig"

source "appl/Kconfig"
source "kernel/Kconfig"
source "drivers/Kconfig"
source "lib/Kconfig"
source "init/Kconfig.debug"
