#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_VEGA

menu "Open-ISA VEGA-Lite (RV32M1) board options"

menu "CPU configuration"

choice
	prompt "RISCV CPU"
	default VEGA_RI5CY

config VEGA_RI5CY
	bool "RI5CY"
	select CPU_RI5CY
	select ARCH_HAS_HIVEC

config VEGA_0RISCY
	bool "Zero RISCY"
	select CPU_0RISCY

endchoice

config VEGA_BOOT_CPU
	bool "Configured as boot CPU"
	default y

endmenu

menu "Clock configuration"

config SCG_SOSC
	bool "Use external System OSC (RF OSC)"
	default y

if SCG_SOSC

choice
	prompt "Systme OSC frequency"
	default SCG_SOSC_32MHZ

config SCG_SOSC_32MHZ
	bool "32MHz"

config SCG_SOSC_26MHZ
	bool "26MHz"

endchoice

endif

config SCG_ROSC
	bool "Use external 32.768KHz RTC OSC"
	default y

endmenu

menuconfig LPUART
	bool "Low Power UART (LPUART) module support"
	select ARCH_HAS_UART
	select GPIO

if LPUART

choice
	prompt "Console port"
	default LPUART_CON_0

config LPUART_CON_0
	bool "LPUART0"
	depends VEGA_RI5CY

config LPUART_CON_1
	bool "LPUART1"
	depends VEGA_RI5CY

config LPUART_CON_2
	bool "LPUART2"
	depends VEGA_RI5CY

config LPUART_CON_3
	bool "LPUART3"
	depends VEGA_0RISCY

endchoice

config LPUART_FIFO
	bool "Enable FIFO support"

endif

config IRQC_EVENT
	bool "Event unit support"
	depends !SYS_NOIRQ
	select ARCH_HAS_IRQC

endmenu

endif
