#
# For a description of the syntax of this configuration file,
# see scripts/kbuild/config-language.txt.
#

if ARCH_VEGA

menu "Open-ISA VEGA-Lite (RV32M1) board options"

choice
	prompt "RISCV boot CPU"
	default VEGA_RI5CY

config VEGA_RI5CY
	bool "RI5CY"
	select CPU_RI5CY
	select ARCH_HAS_HIVEC

config VEGA_0RISCY
	bool "Zero RISCY"
	select CPU_0RISCY

endchoice

config VEGA_BOOT_CPU
	bool "Configured as boot CPU"
	default y

config LPUART
	bool "Low Power UART (LPUART) module support"
	select ARCH_HAS_UART
	select GPIO

config IRQC_EVENT
	bool "Event unit support"
	depends !SYS_NOIRQ
	select ARCH_HAS_IRQC

endmenu

endif
