#
# Firmware Tests
#

menu "Standard benchmark tests"

config DHRYSTONE
	bool "Dhrystone"
	select TIME_CLOCK

if DHRYSTONE

config DHRYSTONE_TIMEOUT
	int "Dhrystone timeout (usecs)"
	range -1 1000000
	default -1

config DHRYSTONE_REPEATS
	int "Dhyrstone number of runs"
	range 5000 5000000
	default 5000

choice
	prompt "Percpu mechanism"
	default DHRYSTONE_BENCH_PERCPU

config DHRYSTONE_BENCH_PERCPU
	bool "Bench percpu allocation"

config DHRYSTONE_GENERIC_PERCPU
	bool "SMP percpu variable"

config DHRYSTONE_SPECIFIC_PERCPU
	bool "Specific percpu arrary"

endchoice

endif

config HANOITOWER
	bool "Hanoi Tower"

if HANOITOWER

config HANOITOWER_DEPTH
	int "Hanoi tower depth (the number of disks)"
	range 1 16
	default 4

endif

config MEMSTREAM
	bool "Memory Stream"

if MEMSTREAM

config MEMSTREAM_ARRAY_SIZE
	int "Array size"
	range 1000 8000000
	default 200000

config MEMSTREAM_NTIMES
	int "Running times"
	range 1 16
	default 2

config MEMSTREAM_TIME_ON
	bool "Turn on time operations"
	default n

endif

config SHA256
	bool "256-bit SHA algorithm"

if SHA256

config SHA256_TEST_CNT 
	int "Count of tests"
	range 1 6
	default 2
endif

source tests/bench/coremark/Kconfig
source tests/bench/c_fft/Kconfig

endmenu
