#
# Firmware Tests
#

menu "Standard benchmark tests"

menuconfig DHRYSTONE
	bool "Dhrystone"
	select TIME_CLOCK

if DHRYSTONE

choice
	prompt "Dhrystone run rules"

config DHRYSTONE_GROUND_RULES
	bool "Ground rules"
	select DHRYSTONE_NO_INLINE
	help
	  - Seperate compilation;
	  - No procedure merging;
	  - Otherwise, compiler optimization are allowed but should be
	    indicated;
	  - default results are those without register declarations.

config DHRYSTONE_BEST_EFFORT
	bool "Best effort"
	select DHRYSTONE_REG

endchoice

config DHRYSTONE_REPEATS
	int "Dhyrstone number of runs"
	range 5000 5000000
	default 5000

config DHRYSTONE_WARMUPS
	int "Dhrystone number of warmup runs"
	range 1 100
	default 1

config DHRYSTONE_TIME
	bool "Run dhrystone a specific time slot"

choice
	prompt "Time measure API"

config DHRYSTONE_TIME_CLOCK
	bool "clock()"

config DHRYSTONE_TIME_TSC
	bool "tick()"

endchoice

config DHRYSTONE_TIMEOUT
	int "Dhrystone timeout (ticks or clocks)"
	depends DHRYSTONE_TIME
	range -1 1000000
	default -1

config DHRYSTONE_TSC_TOO_SMALL
	int "Too small ticks"
	depends DHRYSTONE_TIME_TSC
	default 2

config DHRYSTONE_REG
	bool "Use registers as dhrystone data"
	depends DHRYSTONE_BEST_EFFORT
	default y

config DHRYSTONE_NO_INLINE
	bool "Disallow inline function merging"
	depends DHRYSTONE_GROUND_RULES

choice
	prompt "Percpu mechanism"
	default DHRYSTONE_BENCH_PERCPU

config DHRYSTONE_BENCH_PERCPU
	bool "Bench percpu allocation"

config DHRYSTONE_GENERIC_PERCPU
	bool "SMP percpu variable"

config DHRYSTONE_SPECIFIC_PERCPU
	bool "Specific percpu arrary"

endchoice

endif

menuconfig LINPACK
	bool "Linpack"
	select FP
	select PRINT_SPRINTF

if LINPACK

config LINPACK_CALIBRATION_TIMEOUT
	int "Linpack calibration timeout (usecs)"
	range 1 1000000
	default 1

config LINPACK_CALIBRATION_REPEATS
	int "Linpack calibration repeats"
	range 1 10
	default 1

choice
	prompt "Percpu mechnism"
	default LINPACK_BENCH_PERCPU

config LINPACK_BENCH_PERCPU
	bool "Bench percpu allocation"

config LINPACK_GENERIC_PERCPU
	bool "SMP percpu allocation"

config LINPACK_SPECIFIC_PERCPU
	bool "Specific percpu array"

endchoice

endif

source tests/bench/coremark/Kconfig

menuconfig MEMSTREAM
	bool "Memory Stream"

if MEMSTREAM

config MEMSTREAM_STATIC_ARRAY
	bool "Use static array (rather than allocate dynamically)"
	default y

config MEMSTREAM_ARRAY_SIZE
	int "Array size"
	range 1000 8000000
	default 200000

config MEMSTREAM_NTIMES
	int "Running times"
	range 1 16
	default 2

config MEMSTREAM_TIME_ON
	bool "Turn on time operations"
	default n

endif

config SHA256
	bool "256-bit SHA algorithm"

if SHA256

config SHA256_TEST_CNT 
	int "Count of tests"
	range 1 6
	default 2

endif

config MD5
	bool "MD5 algorithm"

if MD5

config MD5_TEST_CNT 
	int "Count of tests"
	range 1 6
	default 2

endif

config HANOITOWER
	bool "Hanoi Tower"

if HANOITOWER

config HANOITOWER_DEPTH
	int "Hanoi tower depth (the number of disks)"
	range 1 16
	default 4

endif

source tests/bench/cfft/Kconfig
source tests/bench/jpgenc/Kconfig
source tests/bench/gen_ann/Kconfig

endmenu

menu "Santiy check tests"

menuconfig TLB_TEST
	bool "Test TLB flush"

if TLB_TEST

config TLB_TEST_FLUSH_RANGE
	bool "Test flush range"
	default y

config TLB_TEST_FLUSH_ALL
	bool "Test flush all"

endif

endmenu
